---
const { type = "text", id, label, placeholder = "", ...props } = Astro.props;
---
<div class="mb-4">
    <label for={id} class="block text-sm text-[#0A1748] mb-2">{label}</label>
    <input type={type} id={id} placeholder={placeholder} class="w-full p-2 rounded-full border-none focus:outline-none" {...props} />
  </div>
  