---
const { id, label, rows = 4, placeholder = "", ...props } = Astro.props;
---
<div class="mb-4">
    <label for={id} class="block text-sm text-[#0A1748] mb-2">{label}</label>
    <textarea id={id} rows={rows} placeholder={placeholder} class="w-full p-2 rounded-2xl border-none focus:outline-none resize-none" {...props}></textarea>
  </div>
  